*{
    margin:0 ;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: orangered;
}
.button-primary{
    padding:18px 35px ;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: aliceblue;
    height: 64px; 
    border-radius: 5px;
    background-color: orangered;
}
/* header and navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin:50px 200px ;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}


nav li {
    list-style: none;
    margin-left: 50px;
}
nav ul {
    display: flex;
    align-items: center;
}
header{
    background: #FFF8f3;
    /* background-image:url(../photo/Masud.jpg) */;
    background-repeat:no-repeat;
    background-position:bottom right;
}
/* banner styles */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 10px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
banner-description{
    color:#757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
.main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles */
.about{
margin-top: 130px ;
background:#FFF8f3 ;
border-radius: 10px;
padding: 130px 150px;
text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info-title{
    font-size: 20px;
    color: #757575;

}
.info-discription{
   
    font-weight: 700;
    font-size: 20px;
    color:#474747
}
/* what i do styles */
.what-i-do{
    margin-top: 130px;
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background:#ffffff ;
    box-shadow:0 6px 5px rgba(0,0,0,06);
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.skill-description{ 
    color: #757575;
}
.summary-title{
    margin-top: 130px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* resume content */
.resume-content{
    display: flex;
    display: flex;
    gap: 24px;
    background:#ffffff ;
}
.resume-title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 35px;
    color: #474747;
  
}
.resume-item{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-top: 30px;
    margin-bottom: 30px;
}
.title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sub-title{
    color:#757575 ;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.description{
    color:#757575 ;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* contact styles */
.contacts{
    background:#ffffff ;
    display: flex;
    gap: 100px;
    padding: 130px 200px;
}
.section-title{
    text-align: left;
    display: flex;

}
.contacts input, textarea{
    margin-bottom: 24px;
    border: 1;
    width: 100%;
    padding: 18px 30px;
    

}



